#root {
  
  margin: 0px;
  padding: 0px;
  
}

.header {
  background-color: black;
  color:#d5d5d7;
}

.container {
  width:100vw;
  display:flex;
  justify-content: center;
  background-color: black;
}
